body {
  line-height: 1.25;
}

.icon {
  vertical-align: bottom;
}

a:link,
a:visited {
  color: inherit;
}

._stack-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > * {
    margin: 0;
  }
}

._row-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  > * {
    margin: 0;
  }
}
