@forward "@fontsource-variable/figtree";
@forward "@fontsource-variable/montserrat";
@forward "@fontsource-variable/hepta-slab";

body {
  line-height: 1.25;
  font-family: "Figtree Variable", system-ui;
}

a:link,
a:visited {
  color: inherit;
}

.icon {
  vertical-align: text-bottom;
}

.i-spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Hepta Slab Variable", serif;
  font-weight: 700;
}

h2,
h3 {
  font-weight: 600;
  font-family: "Montserrat Variable", system-ui;
}

button {
  font-weight: 500;
  letter-spacing: 0.01em;
}
