body {
  overflow: hidden;
}

a:link,
a:visited {
  color: inherit;
}

.icon {
  vertical-align: text-bottom;
}

.i-spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-weight: 500;
  letter-spacing: 0.01em;
}
