name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - uses: actions/cache@v4
        with:
          path: |
            .turbo
            .yarn/cache
          key: cache-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            cache-${{ runner.os }}-
      - run: mise deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN}}
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
          YARN_ENABLE_GLOBAL_CACHE: "false"
